@media (max-width: 768px) {
  .aside-image-contact img {
    padding-top: 20px;
  }
  footer {
    flex-direction: column !important;
    align-items: center !important;
    gap: 10px !important;
  }
  footer > div {
    width: 100% !important;
    text-align: center !important;
    margin-bottom: 10px !important;
  }
  .social-icons {
    width: 20%;
    margin: 0 auto;
    gap: 10px;
  }
  .card-img-overlay {
    overflow: hidden;
  }
  .card-img-overlay h5 {
    text-align: center !important;
    width: 100% !important;
    font-size: 20px !important;
  }
  .card-img-overlay p {
    text-align: justify;
    width: 100% !important;
    font-size: 16px !important;
  }
  .card-img-overlay a button {
    font-size: 18px !important;
    padding: 10px !important;
  }
  .services-container {
    flex-direction: column;
  }
  .cards-services-container .row {
    flex-direction: column !important;
    align-items: center !important;
  }
  .cards-services-container .row .col-md-4 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .services-container {
    flex-direction: column;
  }
  .card-container {
    width: 100vh;
  }
  .cards-services-container .row {
    flex-direction: column !important;
    align-items: center !important;
  }
  .cards-services-container .row .col-md-4 {
    width: 100%;
  }
}
/* Nav bar animations */
.navbar-nav .nav-link {
  transition: transform 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.1);
  background-color: #ffffff !important;
  color: #6402c0 !important;
}

/* Animation for all buttons */
.btn {
  transition: transform 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  background-color: #ffffff !important;
  color: #6402c0 !important;
}

/*Gallery animations*/
.gallery-container .col-md-4 {
  overflow: hidden;
  transition: transform 0.3s ease;
}
.gallery-container .col-md-4:hover {
  transform: scale(1.1);
}
.gallery-container .col-md-4::after {
  content: "Click to see more details";
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  transition: opacity 0.3s ease;
  opacity: 0;
}
.gallery-container .col-md-4:hover::after {
  opacity: 1;
}

.card-container {
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card-container:hover {
  transform: scale(1.05);
}

.card-services {
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-services:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(132, 0, 255, 0.863) !important;
}

/*NAVBAR*/
.bg-primary {
  background-color: #F2D5D5 !important;
}

.bg-secondary {
  background-color: #140126 !important;
}

.text-primary {
  color: #ffffff !important;
}

.video-banner {
  height: 500px;
}

.card-img {
  height: 500px;
  border-radius: 0;
}

#card-info-img {
  height: 50vh;
  background: linear-gradient(to right, rgba(49, 1, 49, 0.431372549), rgba(49, 1, 49, 0)), url("../assets/img/banner-info.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  border: none;
  border-radius: 0;
}

.card-container {
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.1) !important;
}

body {
  font-family: "Roboto", sans-serif;
}

.bg-info {
  background-color: #6402c0 !important;
}

/*SERVICES*/
.card-img-top {
  height: 300px;
  object-fit: cover;
}

.card-services {
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.1) !important;
  height: 500px;
}

.card-img-overlay h5 {
  text-align: justify;
  text-shadow: 2px 2px 4px rgb(73, 73, 73) !important;
}

/*BOOKING*/
.booking-form {
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.329) !important;
}

.form-control {
  padding: 5px;
  margin-top: 5%;
}

.aside img {
  width: 900px;
  height: 140vh;
  object-fit: cover;
}

/*GALLERY*/
.gallery {
  overflow: hidden;
}
.gallery img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  height: 500px;
  object-fit: cover;
}

/*CONTACT US*/
.aside-image-contact img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.terms p {
  text-align: justify;
  font-size: 12px !important;
}

/*# sourceMappingURL=styles.css.map */
